
scripts/__pycache__/dl_utils.cpython-310.pyc
scripts/__pycache__/__init__.cpython-310.pyc
scripts/__pycache__/viz_tools.cpython-310.pyc
*.pyc
notebooks/.ipynb_checkpoints/train_and_evaluate_all_models-checkpoint.ipynb
notebooks/.ipynb_checkpoints/train_and_evaluate_all_models_balanced_classes-checkpoint.ipynb
notebooks/.ipynb_checkpoints/train_ensemble-checkpoint.ipynb
notebooks/.ipynb_checkpoints/train_model_fine_tunning_mobilenet-checkpoint.ipynb
notebooks/.ipynb_checkpoints/train_model_fine_tunning_vgg16-checkpoint.ipynb
notebooks/.ipynb_checkpoints/train_model_from_scratch-checkpoint.ipynb
scripts/.ipynb_checkpoints/dl_utils-checkpoint.py
scripts/.ipynb_checkpoints/models-checkpoint.py
/notebooks/.ipynb_checkpoints
gee/.ipynb_checkpoints/get_training_data-checkpoint.ipynb
gee/.ipynb_checkpoints/gee_pipeline-checkpoint.ipynb
gee/.ipynb_checkpoints/gee_pipeline-checkpoint.py
notebooks/models/.ipynb_checkpoints/ensemble-checkpoint.ipynb
notebooks/best_models/modelo_y_parametros_originales_2024-09-07_10-09/best_results_scratch_original_model_and_params_modelo_y_parametros_originales_2024-09-07_10-09.pkl
notebooks/best_models/split_30_modified_2024-09-08_08-51/best_results_vgg16_split_30_modified_2024-09-08_08-51.pkl
notebooks/best_models/split_30_modified_2024-09-08_08-51/best_results_scratch_original_model_split_30_modified_2024-09-08_08-51.pkl
notebooks/best_models/split_30_modified_2024-09-08_08-51/best_results_scratch_modified_model_split_30_modified_2024-09-08_08-51.pkl
notebooks/best_models/split_30_modified_2024-09-08_08-51/best_results_mobile_net_split_30_modified_2024-09-08_08-51.pkl
notebooks/best_models/split_30_2024-09-07_14-58/best_results_vgg16_split_30_2024-09-07_14-58.pkl
notebooks/best_models/split_30_2024-09-07_14-58/best_results_scratch_original_model_split_30_2024-09-07_14-58.pkl
notebooks/best_models/split_30_2024-09-07_14-58/best_results_scratch_modified_model_split_30_2024-09-07_14-58.pkl
notebooks/best_models/split_30_2024-09-07_14-58/best_results_mobile_net_split_30_2024-09-07_14-58.pkl
notebooks/best_models/split_20_modified_2024-09-07_20-53/best_results_vgg16_split_20_modified_2024-09-07_20-53.pkl
notebooks/best_models/split_20_modified_2024-09-07_20-53/best_results_scratch_original_model_split_20_modified_2024-09-07_20-53.pkl
notebooks/best_models/split_20_modified_2024-09-07_20-53/best_results_scratch_modified_model_split_20_modified_2024-09-07_20-53.pkl
notebooks/best_models/split_20_modified_2024-09-07_20-53/best_results_mobile_net_split_20_modified_2024-09-07_20-53.pkl
notebooks/best_models/split_20_2024-09-07_10-44/best_results_vgg16_split_20_2024-09-07_10-44.pkl
notebooks/best_models/split_20_2024-09-07_10-44/best_results_scratch_original_model_split_20_2024-09-07_10-44.pkl
notebooks/best_models/split_20_2024-09-07_10-44/best_results_scratch_modified_model_split_20_2024-09-07_10-44.pkl
notebooks/best_models/split_20_2024-09-07_10-44/best_results_mobile_net_split_20_2024-09-07_10-44.pkl
data/sampling_locations/.ipynb_checkpoints/get_distinct_points-checkpoint.ipynb
gee/.ipynb_checkpoints/get_training_data-checkpoint.py
notebooks/models/.ipynb_checkpoints/train_ensemble-checkpoint.ipynb
scripts/.ipynb_checkpoints/viz_tools-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
